header{
    display: flex;
    flex-flow: row wrap;
    background-color: lightgrey;
    border: 5px solid black;
    padding: 10px;
    justify-content: space-between;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}


img.resumePicture {
    border-radius: 50%;
    border: 2px solid lightsteelblue;
    margin: 20px;
}

#headerText{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#ResumeBody{
    display: flex;
    flex-direction: row;
}

.ResumeBodyLeft{
    background-color: grey;
    font-size: 150%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.ResumeBodyRight{
    background-color: grey;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.ResumeBodyCenter{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
    border: 5px solid black;
}

.NoBulletPoints{
    list-style-type: none;
}


.ExperienceDurationAndLocation{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Education{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ExperienceLeft{
    text-align: left;
}

.ExperienceRight{
    text-align: right;
}

.Job{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ExperienceDescriptionLine{
    text-align: justify-all;
}

.WebLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.fas{
    padding-left: 15px;
    padding-right: 15px;
}

.fab{
    padding-left: 15px;
    padding-right: 15px;
}

.WebLink{
    display: flex;
    flex-flow: row wrap;
    font-size: 150%;
    padding: 5px;
    justify-content: left;
}

