header{
    display: flex;
    flex-flow: row wrap;
    background-color: lightgrey;
    border: 5px solid black;
    padding: 2px;
    justify-content: space-between;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}


img.resumePicture {
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
}

#headerText{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#ResumeBody{
    display: flex;
    flex-direction: row;
}

.ResumeBodyLeft{
    background-color: grey;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 10px;
}

.ResumeBodyRight{
    background-color: grey;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 10px;
}

.ResumeBodyCenter{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 5px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

.NoBulletPoints{
    list-style-type: none;
    padding: 0;
}

.SlightLeftPadding{
    padding-left: 12pt;
}


.ExperienceDurationAndLocation{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Education{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ExperienceLeft{
    text-align: left;
}

.ExperienceRight{
    text-align: right;
}

.Jobs{
    display: flex;
    flex-direction: column;
    padding: 30pt;
}

.Job{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ExperienceDescriptionLine{
    text-align: justify-all;
}

.WebLinkGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.MainNavBarLinkGroup{
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

.MainNavBarLinkGroupItem{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: large;
}

.fas{
    padding-left: 15px;
    padding-right: 15px;
}

.fab{
    padding-left: 15px;
    padding-right: 15px;
}

.WebLinkGroupItem{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 150%;
    padding: 5px;
    justify-content: left;
}

